#
# Copyright (c) 2023 by MULTIPLE AUTHORS
#
# File name: .env.sample
# Last modified: 28/03/2023, 23:14
# Project name: jmps-library
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
# file except in compliance with the License. You may obtain a copy of the License at
#
#     <http://www.apache.org/license/LICENSE-2.0>
#
# Unless required by applicable law or agreed to in writing, software distributed under
# the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
# OF ANY KIND, either express or implied. See the License for the specific language
# governing permissions and limitations under the license.
#

# ATTENTION!
#
# This is an example of .env file in your app. Before you run app, change this file from ".env.sample" to
# ".env" and fill properties below (in other case, app will throw exception immediately after start).

# NEXUS Credentials
OSSRH_USERNAME      =
OSSRH_PASSWORD      =

# GPG Credentials
GPG_KEY_ID          =
GPG_KEY_LOGIN       =
GPG_KEY_FILE        =
